<a href="https://colab.research.google.com/github/rjroxx/NLP_Coursework/blob/master/Classwork4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

import nltk
import pandas as pd

from nltk.sentiment.vader import SentimentIntensityAnalyzer
from textblob import TextBlob

from sklearn.metrics import confusion_matrix, accuracy_score,classification_report

#from glove import Glove

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [2]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [0]:
url="http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz"
df=pd.read_json(url,lines=True)
dp=df.head(50)

In [0]:
url1="https://raw.githubusercontent.com/zfz/twitter_corpus/master/full-corpus.csv"
df1=pd.read_csv(url1)

In [0]:
df1 = df1[df1['Sentiment'] != "irrelevant"]

In [6]:
df1.head()

   Topic  ...                                          TweetText
0  apple  ...  Now all @Apple has to do is get swype on the i...
1  apple  ...  @Apple will be adding more carrier support to ...
2  apple  ...  Hilarious @youtube video - guy does a duet wit...
3  apple  ...  @RIM you made it too easy for me to switch to ...
4  apple  ...  I just realized that the reason I got into twi...

[5 rows x 5 columns]

In [0]:
def custom_func(text):
  tbb=TextBlob(text).sentiment
  p=tbb.polarity
  if p > 0.0:
    return "positive"
  elif p < 0.0:
    return "negative"
  else:
    return "neutral"

In [0]:
def custom(text):
  sia =SentimentIntensityAnalyzer()  
  sps = sia.polarity_scores(text)
  if sps['compound'] >= 0.05:
    return "positive"
  elif  sps['compound'] <= -0.05:
    return "negative"
  else:
    return "neutral"

In [9]:
dp['sia_sentiment']=dp['reviewText'].apply(lambda x:custom(x))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
dp['tbb_sentiment']=dp['reviewText'].apply(lambda x:custom_func(x))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

For Twitter dataset

In [0]:
df1['tbb']=df1['TweetText'].apply(custom_func)

In [0]:
df1['sia']=df1['TweetText'].apply(custom)

In [13]:
df1.head()

   Topic Sentiment  ...       tbb       sia
0  apple  positive  ...   neutral   neutral
1  apple  positive  ...  positive  positive
2  apple  positive  ...  positive  positive
3  apple  positive  ...  positive  positive
4  apple  positive  ...  positive  positive

[5 rows x 7 columns]

In [14]:
cms = confusion_matrix(df1['Sentiment'],df1['sia'])
cmt = confusion_matrix(df1['Sentiment'],df1['tbb'])
acs = accuracy_score(df1['Sentiment'],df1['sia'])
act = accuracy_score(df1['Sentiment'],df1['tbb'])
print("Twitter ")
print("SIA confusion matrix is: ")
print(cms)
print("Its accuracy is: ", acs)
print(" ")
print("TextBlob confusion matrix is: ")
print(cmt)
print("Its accuracy is: ", act)

Twitter
SIA confusion matrix is:
[[ 291  138  143]
 [ 302 1234  797]
 [  47   99  373]]
Its accuracy is:  0.554322429906542

TextBlob confusion matrix is:
[[ 234  171  167]
 [ 201 1213  919]
 [  38  124  357]]
Its accuracy is:  0.5268691588785047